/*@import url('https://fonts.googleapis.com/css2?family=Chakra+Petch:wght@400;700&display=swap');*/

@font-face {
    font-family: 'Chakra Petch';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url("fonts/ChakraPetch-Regular-Latin.woff2") format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

@font-face {
    font-family: 'Chakra Petch';
    font-style: normal;
    font-weight: 700;
    font-display: swap;
    src: url("fonts/ChakraPetch-Bold-Latin.woff2") format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

:root {
    --card-color: #000000;
    --card-inner-margin: 1px 3%;
}

body::backdrop {
    background-color: white;
}

html {
    font-size: 1.2em;
    font-family: system-ui;
}

#game-container {
    -webkit-user-select: none;
    user-select: none;
}

html, body, #game-container {
    overscroll-behavior: none;
    touch-action: manipulation;
}

.game-card {
    display: block;
    position: relative;
    aspect-ratio: 104.85/144.56;
    
    container-type: inline-size;
    container-name: card;

    font-family: "Chakra Petch", sans-serif;
}

.game-card-fields {
    display: grid;

    grid-template-rows: 13% 40% 32.8% calc(100% - 40% - 32.8% - 13%);
    grid-template-columns: 1fr;
    
    padding: 1px 1px 4%;
    font-size: 6cqw;

    /* why is this so hard??? */
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
}

@supports not (container-type: inline-size) {
    @media (orientation: portrait) {
        .game-card-fields {
            font-size: 1.2em;
        }
    }
    @media (orientation: landscape) {
        .game-card-fields {
            font-size: 0.6em;
        }
    }
}

.game-card > .-bg {
    flex-grow: 1;
    display: block; /* :) */
}

.game-card-fields > .-header {
    grid-row: 1;
    display: flex;
    align-items: center;
    padding-top: 0.75%;

    border-bottom: 0.2em solid var(--card-color);
}

.game-card-fields > .-header > .-name {
    flex: 1;
    padding: 0 4%;
    text-align: center;
    font-size: 1.3em;
    word-break: break-word;
}

.game-card-fields > .-header > .-cost {
    width: 23%;
    text-align: center;
    color: white;
    font-size: 2.25em;
}

.game-card-fields > .-image {
    grid-row: 2;

    margin: var(--card-inner-margin);
    margin-top: 5px;
    border: 1px solid var(--card-color);
}

.game-card-fields > .-image > .-draw-canvas {
    width: 100%;
    height: 100%;
    display: block;
}

.game-card-fields > .-desc {
    grid-row: 3;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;

    margin: var(--card-inner-margin);
    font-size: 0.85em;

    white-space: pre-wrap;
}

.game-card-fields > .-attribs {
    grid-row: 4;
    display: flex;
    justify-content: space-between;
    align-self: flex-start;

    margin: var(--card-inner-margin);
    padding-bottom: 4px;
}

.game-card-fields > .-attribs > :is(.-attack, .-health) {
    font-size: 2.25em;
    color: white;

    display: flex;
    align-items: center;
    justify-content: center;
    flex-shrink: 0;

    width: 25%;

    position: relative;
}

.game-card-fields > .-attribs > .-archetype {
    align-self: center;
    text-align: center;
    flex-shrink: 1;
    word-break: break-all;
}

.game-card-fields > .-attribs > * > .-shape {
    width: 100%;
    height: 100%;
}
.game-card-fields > .-attribs > * > .-val {
    position: absolute;
    left: 0;
    bottom: 0;
    right: 0;
    top: 0;
    text-align: center;
    
    display: flex;
    justify-content: center;
    align-items: center;
}

.game-card-fields > .-attribs > .-attack > .-shape {
    transform: scaleX(-1);
}

/*
 * Blockly stuff
 */

.blocklyTreeLabel {
    font-family: "Chakra Petch", sans-serif;
}

.blocklyTreeRow {
    padding: 3px 0;
}

.blocklyTreeRowContentContainer {
    display: flex;

    align-content: center;
    justify-content: center;

    padding: 0 4px;
}

.blocklyToolboxCategory {
    margin: 0 4px !important;
}

.blocklyMainWorkspaceScrollbar {
    display: none; /* Hide scrollbars */
}

#duel-container {
    position: relative;
    touch-action: none;
    -webkit-user-select: none;
    user-select: none;
}

.duel-test-buttons {
    position: absolute;
    left: 0;
    bottom: 0;
    z-index: 1000;
    display: flex;
}

.duel-test-timings {
    position: absolute;
    left: 4px;
    top: 4px;
    z-index: 10;
    background-color: #0b589f;
    border-radius: 2px;

    padding: 8px;
    color: white;
    font-weight: bold;
    font-size: 0.8em;

    white-space: pre-wrap;
}

.cl-button {
    appearance: none;
    background-color: white;
    color: black;

    --push-border-width: 6px;

    border: 2px solid black;
    border-bottom: var(--push-border-width) solid black;

    margin: 0;
    padding: 6px 12px;
    font-family: inherit;
    font-size: 1em;
    
    -webkit-user-select: none;
    user-select: none;
}

.cl-button:active:not([disabled]) {
    margin-top: calc(var(--push-border-width) - 3px);
    border-bottom-width: 3px;
}

.cl-button[disabled] {
    filter: brightness(75%);
}

.cl-button.-negative {
    background-color: darkred; 
    color: white;
}

/*
 * Container rules
 */

[data-wants-top-overlay] ~ status-overlay {
    top: 0;
    bottom: auto;
}

/*
 * Home page
 */

#auth-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

#auth-area {
    width: 100vw;
    max-width: 720px;
    
    margin: 0 30px;
}

#auth-area .-logo {
    max-height: 25vh;
    width: 100%;
    display: block;
    
    margin-bottom: 24px;
    aspect-ratio: 146/68;
}

#join-form input {
    width: 100%;
    height: 32px;
    box-sizing: border-box;
    margin-bottom: 12px;
}

#join-form label {
    font-weight: bold;
    margin-bottom: 6px;
    display: block;
}

#join-button {
    width: 100%;
    margin-top: 12px;
    height: 3em;
}

#in-game-actions button {
    width: 100%;
}

#in-game-actions > button:first-child {
    margin-bottom: 12px;
    height: 4em;
    font-size: 1.25em;
    font-weight: bold;
}