@page
@model CardLab.Pages.Game.Index
<div id="game-container"></div>
@* JS will inject stuff in the game-container div *@

@section Scripts {
    <script type="module" vite-src="~/src/game.ts"></script>
}