@page
@model CardLab.Pages.Game.Index
<div id="game-container"></div>
@* JS will inject stuff in the game-container div *@

@section Scripts {
    <environment include="Development">
        <script type="module" src="@DevServerStatus.ServerUrlWithBasePath/src/game.ts"></script>
    </environment>
    <environment include="Production">
        <script src="~/client/scripts/game.js" type="module" asp-append-version="true"></script>
    </environment>
}