@page
@using CardLab.Game.BasePacks
@model CardLab.Pages.Game.Index
@inject BasePackRegistry BasePacks
@{
    ViewData["Title"] = "Lobby";
    var (mainPackDef, mainPackRes) = BasePacks.GetPackUrls(HttpContext, MainPack.PackId)!.Value;
}
<div id="game-container"></div>
<style>
    body, html {
        margin: 0;
        padding: 0;
    }
</style>
@* JS will inject stuff in the game-container div *@

@section Scripts {
    <script>window.mainPack = { def: "@mainPackDef", res: "@mainPackRes" };</script>
    <script type="module" vite-src="~/src/game.ts"></script>
}