@page
@model CardLab.Pages.Game.Index
<div id="game-container"></div>
<style>
    body, html {
        margin: 0;
        padding: 0;
    }
</style>
@* JS will inject stuff in the game-container div *@

@section Scripts {
    <script type="module" vite-src="~/src/game.ts"></script>
}