@page
@model IndexModel
@{
    ViewData["Title"] = "Accueil";
}
<style>body, html, main { margin: 0; height: 100%; }</style>
<div id="auth-container">
    <div id="auth-area">
        <img class="-logo" src="~/logo.svg"/>
        @if (!Model.IsInGame)
        {
            <form id="join-form" method="post" asp-page-handler="join">
                @if (!string.IsNullOrEmpty(Model.JoinErrMsg))
                {
                    <p style="color: darkred;">@Model.JoinErrMsg</p>
                }
                <label asp-for="JoinCode">Code</label>
                <input type="text"
                       id="code-input"
                       oninput="let p=this.selectionStart;this.value=this.value.toUpperCase();this.setSelectionRange(p, p);"
                       asp-for="JoinCode"
                       autocomplete="false"
                       required/>
                <label asp-for="PlayerName">Votre nom</label>
                <input type="text" asp-for="PlayerName" id="name-input" maxlength="24" required/>
                <button id="join-button" class="cl-button">Rejoindre</button>
            </form>
            <form method="get" action="/create-game">
                <button id="create-game-button" class="cl-button">Créer une partie</button>
            </form>
        }
        else
        {
            <div id="in-game-actions">
                <button onclick="window.location = '@Url.Page("Game/Index")'" class="cl-button">Reprendre la partie</button>
                <form method="post" asp-page-handler="quit" id="quit-form">
                    <button class="cl-button -negative" type="button" onclick="quitConfirm()">Quitter la partie</button>
                </form>
            </div>
            <form method="get" action="/create-game">
                <button id="create-game-button" class="cl-button">Créer une partie</button>
            </form>
        }
    </div>
</div>

@section Scripts
{
    <script>
        function quitConfirm() {
            if (confirm("Êtes-vous sûr de vouloir quitter la partie ?")) {
                document.getElementById("quit-form").submit();
            }
        }
    </script>
}
