<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no, viewport-fit=cover"/>
    @await RenderSectionAsync("Meta", required: false)
    <title>@ViewData["Title"] - CardLab</title>
    <link rel="preload" vite-href="~/src/style.css" as="style"/>
    <link rel="preload" vite-href="~/src/fonts/ChakraPetch-Regular-Latin.woff2" as="font" type="font/woff2" crossorigin="anonymous" />
    <link rel="preload" vite-href="~/src/fonts/ChakraPetch-Bold-Latin.woff2" as="font" type="font/woff2" crossorigin="anonymous" />
    <link rel="stylesheet" vite-href="~/src/style.css"/>
    <link rel="modulepreload" vite-href="~/src/game.ts" as="script"/>
    <link rel="preload" href="~/logo.svg" as="image"/>
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
</head>
<body>
<header></header>
<main role="main">
    @RenderBody()
</main>
<footer></footer>
@await RenderSectionAsync("Scripts", required: false)
</body>
</html>