<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no"/>
    <title>@ViewData["Title"] - CardLab</title>
    <environment include="Development">
        <script type="module" src="@ViewData["ViteBase"]/@@vite/client"></script>
        <link rel="stylesheet" href="@ViewData["ViteBase"]/src/style.css" asp-append-version="true"/>
    </environment>
    <environment include="Production">
        <link rel="stylesheet" href="~/client/assets/style.css" asp-append-version="true"/>
    </environment>
</head>
<body>
<header></header>
<main role="main">
    @RenderBody()
</main>
<footer></footer>
@await RenderSectionAsync("Scripts", required: false)
</body>
</html>