<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no, viewport-fit=cover"/>
    <title>@ViewData["Title"] - CardLab</title>
    <link rel="preload" vite-href="~/src/style.css" as="style"/>
    <link rel="stylesheet" vite-href="~/src/style.css"/>
    <link rel="modulepreload" vite-href="~/src/game.ts" as="script"/>
</head>
<body>
<header></header>
<main role="main">
    @RenderBody()
</main>
<footer></footer>
@await RenderSectionAsync("Scripts", required: false)
</body>
</html>